
.logo {
    width: 5vw;
}

@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

.logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

@media (max-width: 650px) {
   .logo > img {
       margin: 0 auto;
   }
}

ul {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
}

li {
    list-style: none;
    float: right;
}

a {
    color: black;
    text-decoration: none;
    background-color: gray;
    padding: 8px;
}

 a:hover {
    background-color: lawngreen;
    color: rgb((0, 0, 0), 0.699);
 }

nav {
    font-weight: 400;
}

@media (max-width: 650px) {
  nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: right;
      text-align: right;
      padding: 0 50px;
  }
  nav li {
      padding-bottom: 5px;
  }
}

nav > ul {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
}

@media (max-width: 650px) {
   nav > ul {
       flex-direction: column;
   }
}

